ControlCalidad.Cliente.AccesoExterno/Connected Services/ControlCalidadServiceReference/ControlCalidadServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControlCalidadServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControlCalidadServicio_RegistrarDefecto_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarDefecto" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_RegistrarDefecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarDefectoResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_InicializarOp_InputMessage">
    <wsdl:part name="parameters" element="tns:InicializarOp" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_InicializarOp_OutputMessage">
    <wsdl:part name="parameters" element="tns:InicializarOpResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ConfirmarOP_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarOP" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ConfirmarOP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarOPResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_GetEspecificacionDeDefectoTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEspecificacionDeDefectoTipo" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_GetEspecificacionDeDefectoTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEspecificacionDeDefectoTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerDatosDeTurnoActual_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosDeTurnoActual" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerDatosDeTurnoActual_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosDeTurnoActualResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_GetOP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOP" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_GetOP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOPResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_PausarOP_InputMessage">
    <wsdl:part name="parameters" element="tns:PausarOP" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_PausarOP_OutputMessage">
    <wsdl:part name="parameters" element="tns:PausarOPResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ReanudarOP_InputMessage">
    <wsdl:part name="parameters" element="tns:ReanudarOP" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ReanudarOP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReanudarOPResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_FinalizarOP_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarOP" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_FinalizarOP_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarOPResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_AsignarOPaSupervisorDeCalidad_InputMessage">
    <wsdl:part name="parameters" element="tns:AsignarOPaSupervisorDeCalidad" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_AsignarOPaSupervisorDeCalidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsignarOPaSupervisorDeCalidadResponse" />
  </wsdl:message>
  <wsdl:portType name="IControlCalidadServicio">
    <wsdl:operation name="RegistrarDefecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/RegistrarDefecto" message="tns:IControlCalidadServicio_RegistrarDefecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/RegistrarDefectoResponse" message="tns:IControlCalidadServicio_RegistrarDefecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InicializarOp">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/InicializarOp" message="tns:IControlCalidadServicio_InicializarOp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/InicializarOpResponse" message="tns:IControlCalidadServicio_InicializarOp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarOP">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ConfirmarOP" message="tns:IControlCalidadServicio_ConfirmarOP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ConfirmarOPResponse" message="tns:IControlCalidadServicio_ConfirmarOP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEspecificacionDeDefectoTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/GetEspecificacionDeDefectoTipo" message="tns:IControlCalidadServicio_GetEspecificacionDeDefectoTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/GetEspecificacionDeDefectoTipoResponse" message="tns:IControlCalidadServicio_GetEspecificacionDeDefectoTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosDeTurnoActual">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerDatosDeTurnoActual" message="tns:IControlCalidadServicio_ObtenerDatosDeTurnoActual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerDatosDeTurnoActualResponse" message="tns:IControlCalidadServicio_ObtenerDatosDeTurnoActual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/IniciarSesion" message="tns:IControlCalidadServicio_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/IniciarSesionResponse" message="tns:IControlCalidadServicio_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOP">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/GetOP" message="tns:IControlCalidadServicio_GetOP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/GetOPResponse" message="tns:IControlCalidadServicio_GetOP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PausarOP">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/PausarOP" message="tns:IControlCalidadServicio_PausarOP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/PausarOPResponse" message="tns:IControlCalidadServicio_PausarOP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReanudarOP">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ReanudarOP" message="tns:IControlCalidadServicio_ReanudarOP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ReanudarOPResponse" message="tns:IControlCalidadServicio_ReanudarOP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarOP">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/FinalizarOP" message="tns:IControlCalidadServicio_FinalizarOP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/FinalizarOPResponse" message="tns:IControlCalidadServicio_FinalizarOP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsignarOPaSupervisorDeCalidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/AsignarOPaSupervisorDeCalidad" message="tns:IControlCalidadServicio_AsignarOPaSupervisorDeCalidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/AsignarOPaSupervisorDeCalidadResponse" message="tns:IControlCalidadServicio_AsignarOPaSupervisorDeCalidad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControlCalidadServicio" type="tns:IControlCalidadServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarDefecto">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/RegistrarDefecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicializarOp">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/InicializarOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarOP">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ConfirmarOP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEspecificacionDeDefectoTipo">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/GetEspecificacionDeDefectoTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosDeTurnoActual">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerDatosDeTurnoActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOP">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/GetOP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PausarOP">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/PausarOP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReanudarOP">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ReanudarOP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarOP">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/FinalizarOP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsignarOPaSupervisorDeCalidad">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/AsignarOPaSupervisorDeCalidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlCalidadServicio">
    <wsdl:port name="BasicHttpBinding_IControlCalidadServicio" binding="tns:BasicHttpBinding_IControlCalidadServicio">
      <soap:address location="http://localhost:8733/ControlCalidadServicio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>