ControlCalidad.Cliente.AccesoExterno/Connected Services/ControlCalidadServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" />
  <xs:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfArrayOfColorDtoArrayOfModeloDtoArrayOfLineaDtomqx32tkj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfColorDto" Namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" />
          <GenericParameter Name="ArrayOfModeloDto" Namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" />
          <GenericParameter Name="ArrayOfLineaDto" Namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" name="Item1" nillable="true" type="q1:ArrayOfColorDto" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" name="Item2" nillable="true" type="q2:ArrayOfModeloDto" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" name="Item3" nillable="true" type="q3:ArrayOfLineaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfArrayOfColorDtoArrayOfModeloDtoArrayOfLineaDtomqx32tkj" nillable="true" type="tns:ValueTupleOfArrayOfColorDtoArrayOfModeloDtoArrayOfLineaDtomqx32tkj" />
  <xs:complexType name="ValueTupleOfbooleanstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:boolean" />
      <xs:element name="Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfbooleanstring" nillable="true" type="tns:ValueTupleOfbooleanstring" />
  <xs:complexType name="ValueTupleOfbooleanEmpleadoDtoyEOT5PiO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EmpleadoDto" Namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" name="Item2" nillable="true" type="q4:EmpleadoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfbooleanEmpleadoDtoyEOT5PiO" nillable="true" type="tns:ValueTupleOfbooleanEmpleadoDtoyEOT5PiO" />
</xs:schema>