ControlCalidad.Cliente.AccesoExterno/Connected Services/ControlCalidadServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ControlCalidadServicio/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfColorDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorDto" nillable="true" type="tns:ColorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorDto" nillable="true" type="tns:ArrayOfColorDto" />
  <xs:complexType name="ColorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorDto" nillable="true" type="tns:ColorDto" />
  <xs:complexType name="ArrayOfModeloDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloDto" nillable="true" type="tns:ModeloDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloDto" nillable="true" type="tns:ArrayOfModeloDto" />
  <xs:complexType name="ModeloDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Denominacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Objetivo" type="xs:int" />
      <xs:element minOccurs="0" name="Sku" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloDto" nillable="true" type="tns:ModeloDto" />
  <xs:complexType name="ArrayOfLineaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaDto" nillable="true" type="tns:LineaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaDto" nillable="true" type="tns:ArrayOfLineaDto" />
  <xs:complexType name="LineaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaDto" nillable="true" type="tns:LineaDto" />
  <xs:complexType name="ArrayOfEspecificacionDeDefectoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspecificacionDeDefectoDto" nillable="true" type="tns:EspecificacionDeDefectoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecificacionDeDefectoDto" nillable="true" type="tns:ArrayOfEspecificacionDeDefectoDto" />
  <xs:complexType name="EspecificacionDeDefectoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDefecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspecificacionDeDefectoDto" nillable="true" type="tns:EspecificacionDeDefectoDto" />
  <xs:complexType name="TurnoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fin" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Horas" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inicio" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TurnoDto" nillable="true" type="tns:TurnoDto" />
  <xs:complexType name="EmpleadoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoDto" nillable="true" type="tns:EmpleadoDto" />
  <xs:complexType name="OpDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:ColorDto" />
      <xs:element minOccurs="0" name="Defectos" nillable="true" type="tns:ArrayOfDefectoDto" />
      <xs:element minOccurs="0" name="Empleado" nillable="true" type="tns:EmpleadoDto" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Horarios" nillable="true" type="tns:ArrayOfHorarioDto" />
      <xs:element minOccurs="0" name="Linea" nillable="true" type="tns:LineaDto" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:ModeloDto" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Pares" nillable="true" type="tns:ArrayOfParDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpDto" nillable="true" type="tns:OpDto" />
  <xs:complexType name="ArrayOfDefectoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefectoDto" nillable="true" type="tns:DefectoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefectoDto" nillable="true" type="tns:ArrayOfDefectoDto" />
  <xs:complexType name="DefectoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="EspecificacionDeDefecto" nillable="true" type="tns:EspecificacionDeDefectoDto" />
      <xs:element minOccurs="0" name="Hora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefectoDto" nillable="true" type="tns:DefectoDto" />
  <xs:complexType name="ArrayOfHorarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HorarioDto" nillable="true" type="tns:HorarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHorarioDto" nillable="true" type="tns:ArrayOfHorarioDto" />
  <xs:complexType name="HorarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Defectos" nillable="true" type="tns:ArrayOfDefectoDto" />
      <xs:element minOccurs="0" name="Fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pares" nillable="true" type="tns:ArrayOfParDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HorarioDto" nillable="true" type="tns:HorarioDto" />
  <xs:complexType name="ArrayOfParDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParDto" nillable="true" type="tns:ParDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParDto" nillable="true" type="tns:ArrayOfParDto" />
  <xs:complexType name="ParDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="calidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParDto" nillable="true" type="tns:ParDto" />
</xs:schema>